<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Octo-Patate Vigilante</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <h1>MIAM</h1>
    <p>Vous avez mangé {{nb_cookies}} cookies.</p>
    <button id="crunch">Crunch</button>
    <script>
      var button = document.getElementById("crunch");
      button.addEventListener("click", () => location.reload());
    </script>
  </body>
</html>
